{% extends 'layouts/main.html' %}

{% block title %}Библиотека{% endblock title %}

{% block content %} 

<section class="content">
    <div>
        <!-- <h1 class="Comforter text-center m-3">Каталог</h1> -->
        <div class="m-3">
            <div class="col-6 mb-2 text-end">    
                <form class="d-flex" role="search" method="post">
                    {% csrf_token %}
                    {{ form_search.sort_by }}
                    {{ form_search.sort_name }}
                    <button class="btn btn-dark blue-button" type="submit">Найти!</button>
                </form>
            </div>
            <div class="row m-auto">
            {% include 'components/pagination.html' %}    
            {% for item in data %}
                {% with index=forloop.counter %}
                {% widthratio data.paginator.per_page 1 data.number|add:-1 as page_index %}
                <div class="card m-1 col-2">
                    <a href="{% url 'book-view' item.id %}">
                        <img 
                            {% if item.cover_path %}
                                src='/media/{{ item.cover_path }}' 
                            {% elif item.cover_url %}
                                src='{{ item.cover_url }}' 
                            {%else %} 
                                src='/static/img/default-img.jpg'
                            {%endif%} 
                            style="height: 180px !important;" 
                            class="card-img-top" alt="...">
                    </a>    
                        <div class="card-body">
                            <a href="{% url 'book-view' item.id %}">
                                <h5 class="card-title">
                                    {{ item.name }}
                                </h5>
                            </a>
                            <h6 class="card-title">
                                {{ item.author.first_name | default:"" }}
                                {{ item.author.last_name | first | default:""}}.
                                {% if item.author.patronymic %}
                                    {{ item.author.patronymic | first| default_if_none:"" }}.
                                {% endif %}
                            </h6>
                            <p class="card-text m-0">
                                {{ item.description|truncatechars:40| default:"<br>"| default_if_none:"<br>"}}
                            </p>
                            <div class="row mb-1">
                                <div  class="col-6">
                                    <form method="post" action="{% url 'create-issue' item.id %} ">
                                        {% csrf_token %}
                                        <input type="hidden" id="book-id" name="book_id" required>
                                        <button type="submit" class="btn btn-dark pink-button" >
                                            <i class="bi bi-mortarboard-fill"></i> Получить 
                                        </button>
                                    </form>
                                </div>
                                {% for group in user.groups.all %}
                                    {% if group.name != 'Ученики'%}
                                    <div class="col-6">
                                        <a type="button" href="{% url 'add-issue' item.id %}"
                                        class="btn btn-dark orange-button">
                                            <i class="bi bi-eye-fill"></i> Выдать 
                                        </a>   
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <p class="card-text">
                                <strong class="text-muted ">
                                    {{page_index|add:index}}
                                </strong>
                                <small class="text-muted text-end">
                                    |  {{ item.genre | default:'<br>'}}
                                </small>
                            </p>
                            
                        </div>
                    </a>
                </div>
                {% endwith %}    
            {% endfor %}
            </div>
            {% include 'components/pagination.html' %}
        </div>
        
    </div>
</section>
{% endblock content %}