<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="navbar-brand" href="#">
                    <i class="bi bi-book"></i> ИБЦ
                </a>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'main' %}">
                        Здравствуйте, 
                        {{user.last_name| default:"" }} 
                        {{user.first_name| default:"" }} 
                        {{user.patronymic| default:"" }}
                        ({{user.username| default:"" }} -
                        {% for group in user.groups.all %}
                                {{ group }}
                        {% endfor %}
                        )
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'main' %}">
                        Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'bookshelf' %}">
                        Моя полка
                    </a>
                </li>
                
                {% for group in user.groups.all %}
                {% if group.name == 'Администратор' or group.name == 'Библиотекарь'%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" 
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Администрирование 
                    </a>
                    <ul class="dropdown-menu">
                        {% if group.name == 'Администратор'%}
                        <li>
                            <a class="dropdown-item" href="/admin">
                                Административная панель
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{% url 'user_index' %}">
                                Управление учетными записями
                            </a>
                        </li>
                        
                        <li>
                            <a class="dropdown-item" href="{% url 'book-index' %}">
                                Книги
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'book-create' %}">
                                Добавить книгу
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'author-create' %}">
                                Добавить автора
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'report' %}">
                                Отчет
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'user' %}">
                                Импорт учеников
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'teacher' %}">
                                Импорт преподавателей
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'logout' %}">
                        Выйти
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>