{% extends 'layouts/main.html' %}

{% block title %}{{ data.name }}{% endblock title %}
{% block content %} 

<section class="content">
    <div class="container">
        <div class="card m-3">
            <div class="card-header">
                <h1>{{ data.name }}</h1>
            </div>
            <img 
                {% if data.cover_path %}
                    src='/media/{{ data.cover_path }}' 
                {% elif data.cover_url %}
                    src='{{ data.cover_url }}' 
                {%else %} 
                    src='/static/img/default-img.jpg'
                {%endif%} 
                style="height: 200px !important; width: fit-content;" 
                class="card-img-top m-auto text-center" alt="...">
                
            <div class="card-body">
                <h6 class="card-title">
                    {{ data.author.first_name }}
                    {{ data.author.last_name }}
                    {{ data.author.patronymic }}
                </h6>
                <p class="card-text">
                    {{ data.description }}
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        {{ data.genre }}
                    </small>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}